.slider {
    position: relative;
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color-slider);
    padding: 20px;
    border: 1px solid var(--logo-color);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide{
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.slide_content{
    display: flex;
    justify-content:center;
    align-items: center;
}

.slide_container{
    display: flex;
    justify-content: space-between;
}



.slide_btn{
    height: 100px!important;
    width: 58px!important;
    position: absolute !important;
    top: 50% !important;
    background-color:var(--bg-color-slider);
    color: black;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);   
    border: var(--border-black);
    border-radius: 15px; 
}

.slide_btn:hover{
    background-color: var(--bg-color-b-gradient-slider);
    color: var(--bg-color-slider);
    border: var(--border-white);
}

.slide_btn:active{
    background: var(--bg-active-b-gradient-slider);
    height: 110px;
}

.text_slide_conatiner{
    width: 85%;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text_slide{
    transform-origin: bottom right 60px;
}

.user_icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.active {
    display: block;
}

.content_slide_head, .content_slide_body{
    display: flex;
    justify-content:start;
    margin-left: 4rem;
    overflow-wrap: break-word;
    /*align-items: center;*/
}