body{
    width: 100%;
    height: 100%;
}

.banner{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.baner_text_с{
    position: relative;
    margin-top: -25rem;
    background-color: var(--baner-text-bg-color);
    border: 1px solid var(--navbar-text-color);
    border-radius: 10px;
    width: 28%;
}

.text_heading{
    font-size: 3rem;
    font-weight: bold;
}

.baner_text{
    padding-left: 2rem;
}
.text_max{
    font-size: 35px!important;
}
.mt-8{
    margin-top: 18rem;
}

.logo{
    height: 45px;
    width: 100%;
}
.logo_text{
    color: var(--navbar-text-color) !important;
    padding-top: 5px;
    font-size: 23px;
}
.nav-link{
    font-size: 22px!important;
}

.bg-light{
    background-color:var(--navbar-bg-color)!important;
}
.nav-link{
    color:var(--navbar-text-color)!important;
}
.nav-link:hover{
    color:var(--navbar-text-color-hover) !important;
}

.baner_priemysh{
    border: 2px solid black;
}
.baner_constr{
    border: 2px solid var(--logo-color);
}

.baner_priemysh, .baner_constr{
    padding: 10px;
    border-radius: 10px;
}


.icons_pr{
    height: 90px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5rem;
}

.text_max_c{
    font-size: 30px!important;
    font-weight: bold!important;
}
.text_max_c_2{
    font-size: 28px;
    text-align: start;
}
.card_size{
    height: 280px;
}

.thumb-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
.thumb-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.btn_shema_p{
    height: 80px!important;
    font-size: 35px!important;
}

#video_rondo{
    display: none;
}
.map_ya{
    width: 100%;
    height: 400px!important;
}
.fother_container{
    width: 100%;
    height: 200px!important;
}

.fother_container{
    background-color: var(--logo-color);
    height: 100px;
}

.fotther_p{
    padding-top: 10px;
}

.star input{
    display: none!important;
}

.star{
    display: flex;
    /*height: 15px;
    width: 15px;*/
    text-align: center;
}

.star label{
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    float: right;
    font-size: 100%;
    color: var(--color-bcg-border-star);
    margin: 0 5px;
    text-shadow: 1px 1px var(--color-bcg-border-star);
}

.star label:before{
    content: '★';
}

.dogovor_container{
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.baner_dogovor{
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    cursor: pointer;
    width: 100%;
    height: 380px;
    border-radius: 40px !important;
}

.baner_dogovor:hover{
    border: 10px solid var(--logo-color);
}

.baner_dogovor_text{
    cursor: pointer;
    position: absolute;
    margin-top: -8rem;
    text-align: center;
    width: 93%;
    height: 50px;
    
}


.baner_dogovor_text input{
    width: 90%;
    border: none;
    height: 100%;
    border-radius: 10px;
}

.baner_dogovor_text input:hover{
    border: 4px solid var(--logo-color);
}

#dogovor_2, #dogovor_3, #dogovor_4, #dogovor_5{
    display: none;
}