body{
    width: 100%;
    height: 100%;
}

.banner{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.baner_text_с{
    position: relative;
    margin-top: -25rem;
    background-color: var(--baner-text-bg-color);
    border: 1px solid white;
    border-radius: 10px;
    width: 28%;
}

.text_heading{
    font-size: 3rem;
    font-weight: bold;
}

.baner_text{
    padding-left: 2rem;
}
.text_max{
    font-size: 35px!important;
}
.mt-8{
    margin-top: 18rem;
}

.logo{
    height: 45px;
    width: 100%;
}
.logo_text{
    color: var(--navbar-text-color) !important;
    padding-top: 5px;
    font-size: 23px;
}
.nav-link{
    font-size: 22px!important;
}

.bg-light{
    background-color:var(--navbar-bg-color)!important;
}
.nav-link{
    color:var(--navbar-text-color)!important;
}
.nav-link:hover{
    color:var(--navbar-text-color-hover) !important;
}

.baner_priemysh{
    border: 2px solid black;
}
.baner_constr{
    border: 2px solid var(--logo-color);
}

.baner_priemysh, .baner_constr{
    padding: 10px;
    border-radius: 10px;
}


.icons_pr{
    height: 90px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5rem;
}

.text_max_c{
    font-size: 30px!important;
    font-weight: bold!important;
}
.text_max_c_2{
    font-size: 28px;
}
.card_size{
    height: 280px;
}

.thumb-wrap {
    position: relative;
    padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
  }
.thumb-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.btn_shema_p{
    height: 80px!important;
    font-size: 35px!important;
}

#video_rondo, #video_rondo_b{
    display: none;
}
.map_ya{
    width: 100%;
    height: 400px!important;
}
.fother_container{
    width: 100%;
    height: 200px!important;
}

.fother_container{
    background-color: var(--logo-color);
    height: 100px;
}

.fotther_p{
    padding-top: 10px;
}